## Intro Python

### Les variables

In [3]:
ma_variable = 2
b = 4
ma_variable = b

In [5]:
print(type(ma_variable))

<class 'int'>

In [6]:
ma_variable = 2.4
print(type(ma_variable))

<class 'float'>

In [7]:
ma_variable = True
print(type(ma_variable))

<class 'bool'>

In [9]:
ma_variable = 1+4j
print(type(ma_variable))

<class 'complex'>

In [10]:
ma_variable = None
print(type(ma_variable))

<class 'NoneType'>

In [11]:
ma_variable = "abcd"
print(type(ma_variable))

<class 'str'>

In [21]:
ma_liste = [2,4,1,6]
ma_liste = [True, False, True, True]
ma_liste = [True, "False", 2, 2+3j, None, [3,1,5]]
b = ma_liste[0]
print(ma_liste[0])
print(ma_liste[1])
print(ma_liste[-1])
print(ma_liste[-2])

print(ma_liste[-1][0])
print("ma_liste")

True
False
[3, 1, 5]
None
3
ma_liste

In [28]:
# for element in [4,5,12,7]:
#     print(element)
#     print("bonjour")

# print(len([4,5,12,7]))
for element in range(10):
    print(element)

0
1
2
3
4
5
6
7
8
9

In [33]:
liste_1 = [1,2,5,6]
liste_2 = [3,5,7,9]

# for i in range(len(liste_1)):
#     print('element')
#     print(liste_1[i])
#     print(liste_2[i])
    
# for i,j in zip(liste_1, liste_2):
#     print('element')
#     print(i)
#     print(j)

for i, val in enumerate(liste_1):
    print(i, val)

0 1
1 2
2 5
3 6

In [37]:
age = 18

if age > 18:
    print("majeur")
elif age < 18:
    print("mineur")
# elif age == 18:
#     print("Va passer ton bac")
else:
    print("Va passer ton bac")

Va passer ton bac

In [38]:
ma_liste = [4,2,7,4,8,5,3]

# n % 2 == 0  si n est pair

# Exercice : Afficher tous les éléments pair de ma_liste

In [40]:
# Fizz Buzz

# De 0 à 100
# Pour tous les multiples de 3 afficher fizz
# Pour tous les multiples de 5 afficher buzz
# Pour tous les multiples de 3 et 5 afficher bazz
# Sinnon afficher le nombre

for i in range(101):
    if i % 5 == 0 and i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('buzz')
    elif i % 3 == 0:
        print('bazz')
    else:
        print(i)

fizz
1
2
bazz
4
buzz
bazz
7
8
bazz
buzz
11
bazz
13
14
fizz
16
17
bazz
19
buzz
bazz
22
23
bazz
buzz
26
bazz
28
29
fizz
31
32
bazz
34
buzz
bazz
37
38
bazz
buzz
41
bazz
43
44
fizz
46
47
bazz
49
buzz
bazz
52
53
bazz
buzz
56
bazz
58
59
fizz
61
62
bazz
64
buzz
bazz
67
68
bazz
buzz
71
bazz
73
74
fizz
76
77
bazz
79
buzz
bazz
82
83
bazz
buzz
86
bazz
88
89
fizz
91
92
bazz
94
buzz
bazz
97
98
bazz
buzz

In [42]:
# Ternaires
age = 18

etat = "majeur" if age > 18 else "mineur"

In [45]:
# Comprehensive list

liste = [ i*2 for i in range(20) ]

print(liste)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [46]:
liste = [ i for i in [3,4,6,1,3,7] if i % 2 == 0]

print(liste)

[4, 6]

In [49]:
liste = [ ("pair" if i % 2 == 0 else "impair") for i in [3,4,6,1,3,7]]

print(liste)

['impair', 'pair', 'pair', 'impair', 'impair', 'impair']

In [54]:
personne = {
    'nom': 'Dupont',
    'prenom': 'Charles',
    'age': 34,
    'adresses': ['Paris', 'Dijon', 'Sao Paulo']
}

In [55]:
print(personne['adresses'])

['Paris', 'Dijon', 'Sao Paulo']

In [57]:
liste_personnes = [
{
    'nom': 'Dupont',
    'prenom': 'Charles',
    'age': 34,
    'adresses': ['Paris', 'Dijon', 'Sao Paulo']
},
{
    'nom': 'Durand',
    'prenom': 'Helene',
    'age': 24,
    'adresses': ['Paris', 'Dijon', 'Sao Paulo']
},
{
    'nom': 'Dumont',
    'prenom': 'Martin',
    'age': 10,
    'adresses': ['Paris', 'Dijon', 'Sao Paulo']
},
{
    'nom': 'Dupond',
    'prenom': 'Joana',
    'age': 57,
    'adresses': ['Paris', 'Dijon', 'Sao Paulo']
}    
]

In [61]:
liste_noms = [i['prenom'] for i in liste_personnes if i['age'] > 18]
print(liste_noms)

['Charles', 'Helene', 'Joana']

In [67]:
liste_prenoms = []
for personne in liste_personnes:
    if personne['age'] > 18:
        liste_prenoms.append(personne)
print(liste_prenoms)

[{'nom': 'Dupont', 'prenom': 'Charles', 'age': 34, 'adresses': ['Paris', 'Dijon', 'Sao Paulo']}, {'nom': 'Durand', 'prenom': 'Helene', 'age': 24, 'adresses': ['Paris', 'Dijon', 'Sao Paulo']}, {'nom': 'Dupond', 'prenom': 'Joana', 'age': 57, 'adresses': ['Paris', 'Dijon', 'Sao Paulo']}]

In [64]:
liste_vide = []
liste_vide.append(2)
liste_vide.append(4)
print(liste_vide)

[2, 4]

In [84]:
import os

fichiers = [f for f in os.listdir('../') if f[-6:] == '.ipynb']
print(fichiers)

['Bank Example.ipynb', 'basepoo.ipynb', 'Bokeh initiation.ipynb', 'Cours1-egilia.ipynb', 'egilia-class.ipynb', 'ExerciceVoiture.ipynb', 'GenerateData.ipynb', 'IntroAriane.ipynb', 'Jour2-egilia.ipynb', 'Palindrome.ipynb', 'PandasExos.ipynb', 'postgreIntroduction.ipynb', 'pyqt5.ipynb', 'ScikitLearn.ipynb', 'Untitled.ipynb', 'Untitled1.ipynb']

In [83]:
# Opérateur de slicing
ma_liste = [4,5,1,7,8,4,5]

# print(ma_liste[0])
# print(ma_liste[0:3])
# print(ma_liste[:3])
# print(ma_liste[2:5])
# print(ma_liste[2:])
# print(ma_liste[-4:])
# print(ma_liste[0:-2])
print(ma_liste[0:5:2])

[4, 1, 8]

In [63]:
import re

chaine = "bouquet 120 000 €"
print(re.match('GR.?S', chaine))
''.join(re.findall('\d+', chaine))
prix = re.findall('[\d ]+', chaine)
print(prix)

None
[' 120 000 ', ' 12']

In [97]:
# Récupérer tous les fichiers/dossiers qui commencent par une majuscule
liste = [f for f in os.listdir('/') if re.match('[A-Z].*' , f) is not None]
print(liste)

['Finish.log', 'FreeStyler', 'OneDriveTemp', 'PerfLogs', 'Program Files', 'Program Files (x86)', 'ProgramData', 'Recovery', 'SiudiDriver', 'SunliteSuite2', 'System Volume Information', 'Users', 'Windows']

In [98]:
nom = input('Quel est votre nom ?')

Quel est votre nom ?Bolnet

In [107]:
print(nom)
print(type(nom) == int)

age = int("24")
age = 24

print("Bonjour vous avez " + str(age) + "ans")
print(f"Bonjour vous avez {age} ans")

Bolnet
False
Bonjour vous avez 24ans
Bonjour vous avez 24 ans

In [108]:
# Demander nom, prenom et age
# Afficher Bonjour {nom} {prenom}, vous avez {age} ans. Et vous êtes majeur/mineur

In [109]:
nombre_aleatoire = 50
proposition = 60

while proposition != nombre_aleatoire:
    print("C'est trop grand")
    proposition -= 1

print("fini")

C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
C'est trop grand
fini

In [110]:
# Générr un nombre aléatoire entre 0 et 100
from random import randint

nombre_aleatoire = randint(0,100)
proposition = -1

# Pour chaque tour attendre une proposition
# Si elle est trop grande on affiche trop grand
# Si elle est trop petite on affiche trop petit
# sinon on affiche "gagné" et on sort de la boucle

while nombre_aleatoire != proposition:
    proposition = int(input('Quelle est votre proposition ?'))
    if nombre_aleatoire > proposition:
        print("Proposition trop petite")
    elif nombre_aleatoire < proposition:
        print("Proposition trop grande")

print('Vous avez gagné !')

Quelle est votre proposition ?50
Proposition trop grande
Quelle est votre proposition ?25
Proposition trop petite
Quelle est votre proposition ?32
Proposition trop petite
Quelle est votre proposition ?43
Proposition trop grande
Quelle est votre proposition ?40
Proposition trop grande
Quelle est votre proposition ?36
Proposition trop grande
Quelle est votre proposition ?34
Proposition trop petite
Quelle est votre proposition ?35
Vous avez gagné !

In [ ]:
borne_min = 0
borne_max = 100
proposition = (borne_min + borne_max) // 2

reponse = input(f"Est-ce que c'est {proposition} ? (P/G/E)")

while reponse != "E":
    if reponse == "P":
        borne_min = proposition
        proposition = (borne_min + borne_max) // 2
    else:
        borne_max = proposition
        proposition = (borne_min + borne_max) // 2
    reponse = input(f"Est-ce que c'est {proposition} ? (P/G/E)")

print("voila")

Est-ce que c'est 50 ? (P/G/E)G
Est-ce que c'est 25 ? (P/G/E)P
Est-ce que c'est 37 ? (P/G/E)G
Est-ce que c'est 31 ? (P/G/E)G
Est-ce que c'est 28 ? (P/G/E)P
Est-ce que c'est 29 ? (P/G/E)P

In [18]:
def dire_bonjour(nom, prenom='Charles', age=36):
    return f'Bonjour {nom} {prenom} tu as {age} ans'
    
dire_bonjour("Martin", "Elianne")
print(dire_bonjour("Martin", "Emilie", 43))

Bonjour Martin Emilie tu as 43 ans

In [2]:
dire_bonjour()

Bonjour tout le monde

In [23]:
from selenium import webdriver

browser = webdriver.Chrome()

In [46]:
browser.get('https://www.seloger.com/list.htm?tri=initial&enterprise=0&idtypebien=2,1&pxMax=400000&idtt=2,5&naturebien=1,2,4&cp=75')

In [47]:
liste_prix = browser.find_elements_by_class_name('Price__Label-sc-1g9fitq-1')

In [48]:
print([ e.text for e in liste_prix])

['bouquet\n92 500 €', 'bouquet\n128 667 €', 'bouquet\n129 250 €', 'bouquet\n152 650 €', 'bouquet\n199 900 €', 'bouquet\n251 879 €', '269 000 €', '280 000 €', '339 200 €', '347 000 €', 'bouquet\n371 500 €', 'bouquet\n374 874 €', '388 000 €', '399 000 €', '399 000 €', 'bouquet\n48 647 €', 'bouquet\n52 804 €', '59 000 €', '79 000 €', '125 000 €', '130 000 €', '143 000 €', '150 000 €', '150 000 €', '167 000 €']

In [54]:
import numpy as np

prix = [ e.text for e in liste_prix]
prix = [ re.findall('[\d ]+', chaine) for chaine in prix]
prix = [ int(chaine[0].replace(' ', '')) for chaine in prix]

print(prix)

np.mean(prix)

[92500, 128667, 129250, 152650, 199900, 251879, 269000, 280000, 339200, 347000, 371500, 374874, 388000, 399000, 399000, 48647, 52804, 59000, 79000, 125000, 130000, 143000, 150000, 150000, 167000]

209074.84

In [59]:
bouton = browser.find_element_by_xpath('//*[text()="Sauvegarder"]')
bouton.click()

In [64]:
import numpy as np
from time import sleep

def get_mean_by_cp(cp='75'):
    browser.get('https://www.seloger.com/list.htm?tri=initial&enterprise=0&idtypebien=2,1&pxMax=400000&idtt=2,5&naturebien=1,2,4&cp='+cp)
    sleep(2)
    liste_prix = browser.find_elements_by_class_name('Price__Label-sc-1g9fitq-1')
    prix = [ e.text for e in liste_prix]
    print(prix)
    prix = [ re.findall('[\d ]+', chaine) for chaine in prix]
    print(prix)
    prix = [ int(chaine[0].replace(' ', '')) for chaine in prix]
    print(prix)
    return np.mean(prix)

get_mean_by_cp('92400')

['315 000 €', '350 000 €', '381 000 €', '385 000 €', '388 000 €', '385 000 €', '380 000 €', '195 000 €', '350 000 €', '399 000 €', '244 000 €', '368 000 €', '399 000 €', '139 100 €', '143 500 €', '170 000 €', '180 000 €', '219 000 €', '228 000 €', '240 000 €', '255 000 €', '275 000 €', '285 000 €', '285 000 €', '285 500 €']
[['315 000 '], ['350 000 '], ['381 000 '], ['385 000 '], ['388 000 '], ['385 000 '], ['380 000 '], ['195 000 '], ['350 000 '], ['399 000 '], ['244 000 '], ['368 000 '], ['399 000 '], ['139 100 '], ['143 500 '], ['170 000 '], ['180 000 '], ['219 000 '], ['228 000 '], ['240 000 '], ['255 000 '], ['275 000 '], ['285 000 '], ['285 000 '], ['285 500 ']]
[315000, 350000, 381000, 385000, 388000, 385000, 380000, 195000, 350000, 399000, 244000, 368000, 399000, 139100, 143500, 170000, 180000, 219000, 228000, 240000, 255000, 275000, 285000, 285000, 285500]

289764.0

In [73]:
dico = {'nom': 'George'}
valeur = "Bonjour"
liste = [2,6,5]
mon_tuple = (2,6,9)

def valeur_de_a(personne):
#     personne = 5
    personne['nom'] = 'Alain'


valeur_de_a(dico)
print(dico)

{'nom': 'George'}

In [75]:
ma_liste = [4,3,6,7,1]

def tri_bulle(arr):
    for j in range(len(arr)-1):
        for i in range(len(arr)-1):
            if arr[i] > arr[i+1]:
                arr[i], arr[i+1] = arr[i+1], arr[i]
    return arr


tri_bulle(ma_liste)

[1, 3, 4, 6, 7]

In [79]:
import pandas as pd

serie = pd.Series([3,1,6,7])
# .map(lambda x : x**2)
print(serie.map(lambda x: x **2))

0     9
1     1
2    36
3    49
dtype: int64

In [80]:
print(range(10))

range(0, 10)

In [88]:
from time import sleep, time


def notre_range(init, finale, pas=1):
    i = init
    while i < finale:
        yield i
        sleep(2)
        i += pas

debut = time()
for n in notre_range(2,12, 2):
    print(n)
    sleep(2)
    print('Delta', time() - debut)
    debut = time()

2
Delta 2.000676155090332
4
Delta 4.0001983642578125
6
Delta 4.0009918212890625
8
Delta 4.001736402511597
10
Delta 4.0009660720825195

In [85]:
from time import sleep, time

t = time()

In [86]:
t

1569310132.4148092